*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/libraries
.DS_Store
/build
/captures
/jbarcodebean-1.2.0/
/SML_Android_1.042/
/gradle/
/app/jniLibs/
/app/libs/
/app/release/
/app/src/release/
/app/src/test/
/app/src/androidTest/
